// Colors
$shade-white: #FFF;
$gray-30: #E2E8F0;
$gray-40: #CBD5E0;
$gray-50: #A0AEC0;
$gray-60: #718096;
$gray-70: #4A5568;
$gray-90: #1A202C;
$brand-50: #413EEF;
$background: #E5E5E5;
$pink-80: #710C36;
$pink-20: #FEDDEB;
$purple-20: #EFE2FE;
$purple-80: #574195;
$orange-20: #FEEBC8;
$orange-80: #91472C;
$blue-20: #CEF1FD;
$blue-80: #04546F;

// Unit shorhand
$unit: 8px;

.pink {
    background-color: $pink-20;
    color: $pink-80;
}

.purple {
    background-color: $purple-20;
    color: $purple-80;
}

.orange {
    background-color: $orange-20;
    color: $orange-80;
}

.blue {
    background-color: $blue-20;
    color: $blue-80;
}

html {
    font-family: Inter;
    color: $gray-90;
    background: $gray-50
}

h1 {
    padding: 0px calc($unit * 2);
    font-size: 18px;
}

input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    width: calc($unit * 2);
    height: calc($unit * 2);
    border-radius: 3px;
    border: 1px solid $gray-40;
}

button {
    color: $gray-70;
    background-color: $shade-white;
    height: calc($unit * 4);
    box-sizing: border-box;
    border: 1px solid $gray-30;
    box-shadow: 0px 1px 2px rgba(45, 55, 72, 0.08);
    border-radius: calc($unit / 2);
    padding: $unit;
    display: flex;
    align-items: center;
}

.badge {
    border-radius: 4px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    height: calc($unit * 3);
    position: sticky;
    left: 33%;
}

.avatar {
    position: relative;
    left: calc($unit *2);
    border-radius: calc($unit * 2);
    height: calc($unit * 4);
    width: calc($unit * 4);
}

.userTable {
    display: flex;
    flex-direction: column;
}

.userRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: $gray-90;
    height: calc($unit * 8);
    width: 100%;
}

.user {
    position: relative;
    left: calc($unit *3);
    display: flex;
    flex-direction: column;

    .email {
        color: $gray-60;
    }
}

.actionBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc($unit * 2);
    line-height: calc($unit * 3);
    padding: 0px $unit;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc($unit * 17);
    padding: 0px calc($unit * 3);
}

.search {
    background-color: $brand-50;
    color: $shade-white;
    border: none;
    height: calc($unit * 5);
    font-size: 14px;
    line-height: 21px;
}

.searchInput {
    border-radius: calc($unit / 2);
    color: $gray-50;
    border: none;
    height: calc($unit * 5);
    font-size: 14px;
    line-height: 21px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc($unit * 3) 0px;
}

.app {
    display: grid;
    grid-template-columns: 1fr min(120ch, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;
    background-color: $shade-white;
    border-radius: $unit;
    height: 100%;
    padding: calc($unit *2) 0px;
}

.app>* {
    grid-column: 2;
}